AZURE_OPENAI_API_KEY=<your-api-key>
AZURE_OPENAI_ENDPOINT=https://ai-aahncsgptdev30042025.openai.azure.com/
OPENAI_API_VERSION=2024-12-01-preview
AZURE_OPENAI_CHAT_DEPLOYMENT_NAME=gpt-4.1-mini-ncsgpt-dev
TAVILY_API_KEY="tvly-xxxx"
